<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing transaction category</h1>

  <%= render "form", transaction_category: @transaction_category %>

  <%= link_to "Show this transaction category", @transaction_category, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to transaction categories", transaction_categories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
