<p>Você foi convidado para participar do grupo familiar <%= @family_group.name %>.</p>
<p>Por favor, crie uma conta ou faça login para aceitar o convite.</p>
<%= link_to "Aceitar Convite", new_user_registration_url %>