<div class="family-group-card">
	<strong>Nome:</strong> <%= family_group.name %><br>
	
  <%= link_to "Ver Dashboard", finances_dashboard_path(family_group_id: family_group.id), class: "family-group-card-link" %>
</div>