<div id="<%= dom_id group_member %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= group_member.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Family group:</strong>
    <%= group_member.family_group_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= group_member.role %>
  </p>
</div>
