<h1>Orçamentos de <%= @family_group.name %></h1>

<ul>
  <% if @months.any? %>  
    <% @months.each do |month| %>
      <li>
        <%= link_to l(Date.parse("#{month}-01"), format: :long), finances_budget_show_path(@family_group, month: month) %>
      </li>
    <% end %>
  <% else %>
    <p>Não há orçamentos criados ainda.</p>
  <% end %>
</ul>

<%= link_to 'Novo Orçamento', new_finances_budget_path(@family_group) %>
