<div class="individual-content grid gap-x-3	grid-cols-12">
  <%= render 'hero' %>

  <section class="col-span-12">
    <% if @months.any? %>
      <table>
        <tbody>
          <% @months.each do |month| %>
            <tr>
              <td>
                <%= link_to l(Date.parse("#{month}-01"), format: :long), finances_budget_show_path(@family_group, month: month) %>
              </td>
              <td>
                <p>
                  2020
                </p>
              </td>
              <td>
                <p>
                  $35,000
                </p>
              </td>
              <td>
                <p>
                  New York, USA
                </p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Não há orçamentos criados ainda.</p>
    <% end %>
    <%= link_to 'Novo Orçamento', new_finances_budget_path(@family_group) %>
  </section>
</div>