<h1>Orçamentos para <%= l(Date.parse("#{@month}-01"), format: :long) %></h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.transaction_category.name %></td>
        <td><%= number_to_currency(budget.value) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Voltar", finances_budget_path(@family_group), class: "btn btn-secondary" %>