@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
} */

/* ==========================================================================
Sidebar
========================================================================== */
aside.sidebar {
  @apply sticky flex top-0 left-0 h-screen w-24 py-5 pl-5;

  .content {
    @apply flex flex-col px-3 pt-3 bg-white h-full rounded-md;

    ul.nav {
      @apply grow space-y-5;

      li {
        @apply p-3 rounded hover:bg-slate-100;

        a.active {
          svg {
            @apply  text-blue-600;
          }
        }

      &:has(> a.active) {
        @apply bg-slate-100
      }

        svg {
          @apply h-6 w-6 cursor-pointer text-gray-500 transition-all hover:text-blue-600;
        }
      }
    }

    .bootom-actions svg {
      @apply h-6 w-6 cursor-pointer text-gray-500 hover:text-blue-600;

      svg {
        @apply h-6 w-6 cursor-pointer text-gray-500 hover:text-blue-600;
      }
    }
  }
}

/* ==========================================================================
Family Group Card
========================================================================== */
.family-groups {
  @apply col-span-12 grid gap-x-3	grid-cols-12 mt-5;

  .family-group-card {
    @apply col-span-3 bg-white shadow-sm border rounded p-5;
  }
}